@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task Manager</h1>
    <p class="lead">Simple Task Manager.</p>
    <p><a href="/TaskManager" class="btn btn-primary btn-lg">Open Task Manager &raquo;</a></p>
</div>